* {
    box-sizing: border-box;
    font-family:"Radiance", "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff90;
}

.main{
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    height: 80px;
    padding: 0px 30px;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.DotaLogo {
    width: 200px;
    min-width: 200px;
    height: 50px;
    min-height: 50px;
    background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .8;
    margin-right: 40px;

}


